.LayOutForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 93%;
  padding: 0 2em;
  background-color: #ffffff;
}

.LayOutForm .form {
  /*background-color: #f1f1f1;*/
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 380px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.LayOutForm .title {
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
  text-align: center;
}

.LayOutForm .field label {
  display: block;
  padding-bottom: 0.3rem;
}

.LayOutForm .field input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.LayOutForm .actions {
  text-align: center;
  margin-top: 0.5rem;
}

.LayOutForm .actions button {
  padding: 0.5rem;
  border: 1px solid #f1f1f1;
  border-radius: 0.3rem;
  background-color: rgb(0, 81, 255);
  color: #fff;
  cursor: pointer;
  width: 100%;
  font-size: 1.3rem;
}

.LayOutForm .actions button:hover {
  background-color: rgb(45, 72, 161);
  border: 1px solid rgb(0, 0, 0);
  /*font-weight: bold;     */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: rgb(255, 255, 255);
}
